.toggle-switch {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 0.875em;
}

.control {
  position: relative;
  width: 36px;
  height: 20px;
  background: var(--color-light);
  border: 1px solid var(--color-input-border);
  border-radius: 20px;
  outline-color: transparent;
  outline-offset: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.control::after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: currentcolor;
  border-radius: 12px;
  transition: inherit;
  content: '';
}

.control.checked {
  background-color: var(--color-highlight);
  border-color: transparent;
}

.control.checked::after {
  left: calc(100% - 14px);
  background-color: var(--color-light);
}
