.clear-button {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1.5em;
  max-height: 1.5em;
  padding: 0.25em;
  background-color: transparent;
  border: 1px solid var(--color-input-border);
  border-radius: 0.25em;
}

.clear-button:disabled {
  color: var(--color-input-border);
  background-color: var(--color-background);
  border: none;
  cursor: not-allowed;
}

.loading-icon,
.search-icon {
  position: absolute;
  left: 0.5em;
}

.loading-icon {
  width: 1em;
  height: auto;
  opacity: 1;
  fill: var(--color-dark);
}

.search-icon {
  color: var(--color-input-border);
}

.search-input-container {
  position: relative;
  display: flex;
  place-self: center center;
  align-items: center;
  width: 100%;
}

.search-input {
  flex-grow: 1;
  padding: 0.5em 0.5em 0.5em 2.25em;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--color-input-border);
  border-radius: 0.25em;
}

.search-input::placeholder {
  color: var(--color-input-border);
}

@media (prefers-color-scheme: dark) {
  .loading-icon {
    filter: invert(1) hue-rotate(180deg);
  }
}
