.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  background-color: #fff;
  padding: 0.25em;
  max-height: 1.5em;
  max-width: 1.5em;
}

.clear-button:disabled {
  background-color: rgb(0 0 0 / 5%);
  border: none;
  color: rgb(0 0 0 / 25%);
  cursor: not-allowed;
}

.loading-icon {
  width: 1em;
  height: auto;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
  place-self: center center;
}

.search-input {
  padding: 0.5em 0.5em 0.5em 2.25em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1rem;
  width: 280px;
}

.search-input::placeholder {
  opacity: 0.4;
}

.loading-icon,
.search-icon {
  position: absolute;
  left: 0.5em;
  opacity: 0.33;
}
