.toggle-switch {
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0;
}

.toggle-switch-label {
  font-size: 0.875em;
  color: color-mix(in srgb, currentcolor 0%, currentcolor 75%);
}

.toggle-switch-control {
  border: none;
  cursor: pointer;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  outline-color: transparent;
  outline-offset: 4px;
  background: color-mix(in srgb, currentcolor 0%, currentcolor 20%);
  position: relative;
  transition: all 0.25s ease-in-out;
}

.toggle-switch-control::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: color-mix(in srgb, currentcolor 0%, currentcolor 75%);
  left: 4px;
  top: 4px;
  position: absolute;
  transition: inherit;
}

.toggle-switch-control.checked {
  background-color: #5057e9;
}

.toggle-switch-control.checked::after {
  left: calc(100% - 16px);
  background-color: white;
}
