.app-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  row-gap: 1em;
  width: 100%;
}

.search-results-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  row-gap: 0.5em;
}
