.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  width: 100%;
}

.app-title {
  font-weight: 400;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-border);
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  padding-top: 1em;
}

.search-results-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  margin: 0;
  padding: 0 0 1em;
  list-style: none;
}

@media screen and (width <= 640px) {
  .app-toolbar {
    padding: 1em;
  }

  .notifier-container,
  .search-results-list {
    padding: 0 1em 1em;
  }
}

@media screen and (width <= 480px) {
  .search-input-container {
    width: 100%;
    padding: 0 1em;
  }
}
