.app-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  width: 100%;
}

.app-title {
  font-weight: 400;
}

.app-toolbar {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-bottom: 1px solid var(--color-border);
  background: var(--color-light);
  padding: 1em;
  width: 100%;
}

.search-input-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.search-results-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin: 0;
  padding: 0 0 1em;
  width: 100%;
  max-width: 640px;
  list-style: none;
}

@media screen and (width <= 640px) {
  .notifier-container,
  .search-results-list {
    padding: 0 1em;
  }
}

@media screen and (width <= 480px) {
  .search-input-container {
    padding: 0 1em;
    width: 100%;
  }
}
