:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(32 29 29 / 87%);
  background-color: rgb(255 255 255);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 640px;
}

*:focus {
  outline-color: #747bff;
}
