@property --color-dark {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(18 20 20);
}

@property --color-light {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255 255 255);
}

@property --color-border {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(18 20 20 / 12%);
}

@property --color-background {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(18 20 20 / 10%);
}

@property --color-highlight {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(87 84 255);
}

@property --color-input-border {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(18 20 20 / 33%);
}

@property --color-error {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(161 9 9);
}

@property --color-error-background {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(161 9 9 / 12%);
}

:root {
  background-color: var(--color-light);
  text-rendering: optimizelegibility;
  line-height: 1.5;
  color: var(--color-dark);
  font-family: system-ui, Menlo, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  font-synthesis: none;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--color-highlight);
}

body,
html {
  width: 100%;
  height: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-light: rgb(18 20 20);
    --color-dark: rgb(255 255 255);
    --color-border: rgb(255 255 255 / 12%);
    --color-background: rgb(255 255 255 / 6%);
    --color-highlight: rgb(137 122 255);
    --color-input-border: rgb(255 255 255 / 33%);
    --color-error: rgb(225 67 128);
    --color-error-background: rgb(225 67 128 / 8%);
  }
}
