/*
 * Define custom color properties representing the core palette used throughout the UI.
 * The fewer entries defined, the more clear the rules are to follow, and also provides a clean aesthetic.
 * NOTE: We default to 'light' theme to initialize values for these
 */
@property --color-dark {
  inherits: true;
  initial-value: rgb(18 20 20);
  syntax: '<color>';
}

@property --color-light {
  inherits: true;
  initial-value: rgb(255 255 255);
  syntax: '<color>';
}

@property --color-border {
  inherits: true;
  initial-value: rgb(18 20 20 / 12%);
  syntax: '<color>';
}

@property --color-background {
  inherits: true;
  initial-value: rgb(18 20 20 / 10%);
  syntax: '<color>';
}

@property --color-highlight {
  inherits: true;
  initial-value: rgb(87 84 255);
  syntax: '<color>';
}

@property --color-input-border {
  inherits: true;
  initial-value: rgb(18 20 20 / 33%);
  syntax: '<color>';
}

@property --color-error {
  inherits: true;
  initial-value: rgb(161 9 9);
  syntax: '<color>';
}

@property --color-error-background {
  inherits: true;
  initial-value: rgb(161 9 9 / 12%);
  syntax: '<color>';
}

:root {
  color: var(--color-dark);
  font-weight: 400;
  font-family: system-ui, Menlo, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color-scheme: light dark;
  font-synthesis: none;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--color-highlight);
}

body,
html {
  width: 100%;
  height: 100%;
}

/*
 * Redefine each palette entry for dark mode support. This is changed in your browser's
 * customization options, or might tie in with your day/night preferences integrated with your OS.
 */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-light: rgb(18 20 20);
    --color-dark: rgb(255 255 255);
    --color-border: rgb(255 255 255 / 12%);
    --color-background: rgb(255 255 255 / 6%);
    --color-highlight: rgb(137 122 255);
    --color-input-border: rgb(255 255 255 / 33%);
    --color-error: rgb(225 67 128);
    --color-error-background: rgb(225 67 128 / 8%);
  }
}
